#main {
    display: flex;
}

.left-side {
    max-width: 320px;
    flex-grow: 1;
    background: #17212B;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.user-photo,
.message-item-photo {
    background: url(../../images/anon.png);
    background-size: cover;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    cursor: pointer;
}

.user-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #5387C1;
}


.user-list-header {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

.user-list {
    max-height: 85vh;
    overflow-y: scroll;
}

.user-list-item {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #5387C1;
}


.right-side {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid #0E1621;
}

.right-side-header {
    padding: 12px 5px 16px 16px;
    background: #17212B;
}

.right-side-header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.user-list__size {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #7F91A4;
}

.messages-container {
    background: #0E1621;
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
}

.message-item {
    display: flex;
    margin-bottom: 5px;
}

.message-item-header {
    display: flex;
}

.message-item-header-name {
    color: #5387C1;
    margin-right: 5px;
    margin-bottom: 5px;
}

.message-item-header-time {
    color: gray;
}

.message-item-system {
    color: gray;
}

.message-item-text {
    color: #FFFFFF;
    background: #215488;
    border-radius: 7px;
    padding: 3px;

}

.input-container {
    padding: 7px;
    background: #17212B;
    display: flex;
    align-items: center;
}

.message-input {
    height: 30px;
    flex-grow: 1;
    background: #17212B;
    color: #FFFFFF;
    border: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-right: 4px;
}

.send-button {
    background: #5387C1;
    border-radius: 5px;
    padding: 6px 20px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}